body {

    font-family: 'Titillium Web', sans-serif;
}

.bg-custom {
    background-color: #24353f;
}

::placeholder{
    color: rgb(211, 208, 208) !important;
}

.SignUpText a:hover{
    text-decoration: underline !important;
}